@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.App {
    text-align: center;
    min-height: 100vh;
}

.person-picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

.pri-font {
    font-family: "Goldman", cursive;
}
